:root {
	--white1: #ece8e8;
	--white2: #afafaf;
	--white3: #afafaf;

	--red: #e74444;
	--green: #26bb0f;

	--yellow: #e7b428;
	--orange1: rgb(248, 150, 29);
	--orange2: #d6731d;
	--orange3: rgb(192, 94, 29);
	--brown: rgb(141, 82, 14);
	
	--gray1: #747474;
	--gray2: #474747;
	--gray3: #363636;
	--gray4: #2e2e2e;
	--gray5: #2b2a2a;
	--gray6: #202020;

	--black: #1a1a1a;
	--black2: #141414;
} 


::selection {
	background: var(--orange1);
	color: var(--white1);
}


html {
	box-sizing: border-box;
	letter-spacing: .07em;
	line-height: 1.5;
}
*, *:before, *:after {
	box-sizing: inherit;
	letter-spacing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

html {
	font-family: 'Questrial', sans-serif;
	font-size: 10px;
	color: var(--white2);
	height: 100%;
}

input {
	font-family: 'Questrial', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  height: 100%;
  background-color: var(--black);
}

#root {
	height: 100%;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a,
a:visited,
a:active {
	color: inherit;
}

button {
	padding: 0;
	cursor: pointer;
	border: none;
	outline: 1px solid transparent;
	background: transparent;
}

button:focus {
	outline: 1px solid var(--orange1);
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

svg {
	vertical-align: middle;
}

path {
	fill: var(--white2);
}

.scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: var(--gray5);
	border-radius: 3px;
	cursor: pointer;
}

.scrollbar::-webkit-scrollbar-thumb {
	border: 2px solid var(--gray5);
	background: var(--black);
	border-radius: 8px;
}


/* FF, Edge */
.scrollbar {
	height: 100%;
	overflow-y: auto;
	scrollbar-width: thin;
  	scrollbar-color: var(--black) var(--gray5);
}