:root {
	--red: #f83838;
	--black: #1a1a1a;
	--white: #ece8e8;
	--green: #26bb0f;
	--brown: rgb(136, 72, 0);

	--orange1: rgb(250, 150, 28);
	--orange2: #ec862c;
	--orange3: rgb(201, 103, 38);
	
	--gray1: #afafaf;
	--gray2: #9e9e9e;
	--gray3: #646464;
	--gray4: #3a3a3a;
	--gray5: #292929;
	--gray6: #1f1e1e;
} 


::selection {
	background: var(--orange1);
	color: var(--white);
}


html {
	box-sizing: border-box;
	letter-spacing: .07em;
	line-height: 1.5;
}
*, *:before, *:after {
	box-sizing: inherit;
	letter-spacing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
	font-family: 'Questrial', sans-serif;
	font-size: 10px;
	color: var(--white);
	height: 100%;
}

input {
	font-family: 'Questrial', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  height: 100%;
  background-color: var(--black);
}

#root {
	height: 100%;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a:visited,
a:active {
	color: inherit;
}

button {
	padding: 0;
	cursor: pointer;
	border: none;
	outline: 1px solid transparent;
}

button:focus {
	outline: 1px solid var(--orange1);
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}